{% extends "base.html" %}
{% from "bootstrap/form.html" import render_form %}
{%from "bootstrap/pagination.html" import render_pagination%}

{%block content%}
    <h3>共{{movies_count}}部电影🎬</h3>
    {%if current_user.is_authenticated%}
    <div>
        {{render_form(form)}}
    </div>
    <hr/>
    {%endif%}
    
    <ul class="movie-list">
        {%for movie in movies%}
        <li>
            <img src="{{url_for('get_avatar',filename=movie.avatar_m)}}" class="avatar">
            {{movie.title}} - {{movie.year}}
            <span class="float-right">
                {%if current_user.is_authenticated %}
                <a class="btn" href="{{url_for('edit',movie_id = movie.id)}}">编辑</a>
                <form class="inline-form" method="post" action="{{url_for('delete',movie_id=movie.id)}}">
                    <input class="btn" type="submit" name="delete" value="删除" onclick="return confirm('确定要删除嘛')">
                </form>
                {%endif%}
                <a class="imdb" href="https://www.imdb.com/find?q={{ movie.title }}" target="_blank" title="Find this movie on IMDb">IMDb</a>
            </span>
        </li>
    {%endfor%}
    </ul>
    {%if movies%}
    {{render_pagination(pagination,align="center")}}
    {%endif%}

    <img alt="Walking Totoro" class="totoro" src="{{ url_for('static', filename='images/totoro.gif') }}" title="to~to~ro~">
{%endblock%}